body
{
    color: wheat;
    background-color: black;
    font-style:italic ;
}
h1
{
    border: groove;
    background-color: darkgreen;

}
p
{
    background-color: crimson;
    font-family: 'Times New Roman', Times, serif;
}